<div>
	<div><%= link_to "Home", root_path %></div>
	<div><%= link_to "Builder", builder_path %></div>
	<div><%= link_to "BuilderLocation", builder_location_path %></div>
	<div><%= link_to "Location", location_path %></div>
	<div><%= link_to "materials", materials_path %></div>
</div>